#page-numbers {
    padding-top: 50px;
    list-style: none;
}
  
#page-numbers > li {
    margin-right: 2em;
    color: #DB353C;
    display:inline-block;
    user-select: none;
    cursor: pointer;
    font-size: 2em;
}

#page-numbers > li:hover {
    color:grey
}

.flickr_image {
    width:300px;
    height:300px;
    display: inline-block;
    margin: 10px;
    border:1px #343a40 solid;
    border-radius: 5px;
}

.image_container {
    display: inline-block;
}


.album {
    text-align: center;
}

#media_title{
    color:grey;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    margin:70px 40px 40px 40px;
    padding-top:50px;
}
